body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 70%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: #ddd;
    cursor: pointer;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
}

.filters {
    margin-bottom: 20px;
}
